<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/styles/style.css">
  <title>JScars</title>
</head>
<body>
  <div id="app">
    <header>
      <img class="logo" :src="logo" alt="logo JScars">
      <div class="header-line"></div>
    </header>
    <router-view></router-view>
    <footer>
      <div class="header-line-footer"></div>
      <div class="footer-div">
        <a class="footer-div-link" href="#">Nous contacter</a>
        <a class="footer-div-link" href="#">Mentions légales</a>
        <a class="footer-div-link" href="#">En savoir plus</a>
      </div>
    </footer>  
  </div>
  <!-- --------------HOME-------------------- -->
  <script type="text/x-template" id="home">
    <main>
      <!-- advanced search -->
      <div class="advancedSearch">
        <input type="search" v-model="searchTitle" placeholder="rechercher une voiture">
        <select v-model="searchBrand" class="advancedSearch-brand">
          <option value=""> Marque </option>
          <option value="mercedes"> Mercedes </option>
          <option value="fiat"> Fiat </option>
          <option value="citroen"> Citroen </option>
          <option value="kia"> Kia </option>
          <option value="peugeot"> Peugeot </option>
        </select>
        <label for="priceMin">Prix Minimum</label>
        <input class="inputNumber" type="number" v-model="searchPriceMin" placeholder="Prix Minimum" id="priceMin">
        <label for="priceMax">Prix Maximum</label>
        <input class="inputNumber" type="number" v-model="searchPriceMax" placeholder="Prix Maximum" id="priceMax">
        <label for="KmMin">Kilométrage Minimum</label>
        <input class="inputNumber" type="number" v-model="searchKmMin" placeholder="Kilométrage Minimum" id="KmMin">
        <label for="KmMax">Kilométrage Maximum</label>
        <input class="inputNumber" type="number" v-model="searchKmMax" placeholder="Kilométrage Maximum" id="KmMax">
        <!-- Number of result -->
        <span v-if="searchTitle && filteredList.length >= 1">
          {{filteredList.length}} résultat<span v-if="filteredList.length >=2">s</span>
        </span>
        <span v-if="filteredList.length == 0" class="noResult"> Aucun résultat trouvé </span>
      </div>
      <button v-on:click='initializeSearch' class="initialize-search">Réinitialiser la recherche</button>
      <!-- cars list -->
      <ul class="cars-list">
        <li class="cars-list-element" v-for="car in filteredList">
          <router-link :to="{name : 'Car', params: {id: car.id}}" class="car-title-link">
            <div class="car-title">{{car.title}}</div>
            <img class="car-picture" :src="car.picture">
          </router-link>
          <div class="car-mileage">{{car.mileage}}km</div>
          <div class="car-price">{{car.price}}&euro;</div>
        </li>
      </ul> 
    </main>
  </script>
  <!-- ---------------CAR DETAILS---------------- -->
  <script type="text/x-template" id="carDetails">
  <main>
    <router-link to="/" class="button-home">Retour à l'accueil</router-link>
    <div class="carDetails">
      <h1 class="carDetails-title">{{carById.title}}</h1>
      <img class="carDetails-picture" :src="carById.picture">
      <div class="carDetails-details">
        <div class="carDetails-details_brand">Marque : {{carById.brand}}</div>
        <div class="carDetails-details_mileage">Kilométrage : {{carById.mileage}}km</div>
        <div class="carDetails-details_price">Prix : {{carById.price}}&euro;</div>
      </div>
      <div class="carDetails-description">{{carById.description}}</div>
    </div>
  </main>
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> 
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/vue-router@4"></script>
  <script src="./assets/vue.js"></script>
</body>
</html>